<div class="card" style="width: 40%;margin: 5% 30%;padding: 2%;font-size:100%;">
    <h2 style="text-align: center;">Forgot Password</h2>
    <form  [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)" ngNativeValidate>
        <div class="form-group" >
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"  required/>
           
        </div><br>
        <div class="form-group">
            <label for="newpassword">New Password</label>
            <input type="password" formControlName="newpassword" class="form-control"  required/>
          
         </div><br>
         <div class="form-group">
            <label for="confirmpassword">Confirm New Password</label>
            <input type="password" formControlName="confirmpassword" class="form-control"  required/>
          
         </div><br>
         <div style="color:red;font-weight: 200;text-align: center;">{{errorMessage}}</div><br>
         <div class="form-group" style="text-align: center;">
            <button class="btn btn-primary"> 
                Submit
            </button>
        </div> <br>
    </form>
</div>
